.books {
  border-bottom: 1px solid black;
}

.books h5 {
  text-align: left;
}

.books p {
  font-size: 15px;
  text-align: left;
}

.books-img-size {
  max-width: 100%;
  max-height: 200px;
  padding-top: 23px;
  padding-bottom: 23px;
}
.books-content {
  padding-top: 23px;
}

#seeMore-btn {
  margin: 20px;
  border-radius: 10px;
}
