.books {
  border-bottom: 1px solid black;
  margin: auto;
}

.img-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.books-img-size {
  width: 130px;
  height: 220px;
  padding-top: 23px;
  padding-bottom: 23px;
}
.books-content {
  padding-top: 23px;
  /* width:500px; */
  padding-right: 270px;
}

#book-name {
  font-size: 23px;
  font-weight: bold;
  text-align: left;
}

.books-content p {
  font-size: 15px;
  text-align: left;
}

#seeMore-btn {
  border-radius: 10px;
  position: relative;
  right: -220px;
  bottom: 30px;
}

@media (max-width: 991px) {
  #seeMore-btn {
    float: right;
  }
}

.bd-example {
  padding: 1rem;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}
