
:root {
    --swiper-theme-color: #138496;
}

.container{
    text-align: center;
}

#popular-books-section {
    background:#e3f0f1;
    padding-top:50px;
    width: 90%;
    margin:0 auto 70px;
}

#popular-books-section .book-title {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    min-height: 2.5em;
}
#popular-books-section .book-rank {
    position:absolute;
    top: 25px;
    left: 25px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #138496;
    color:#fff;
}
#popular-books-section article {
    background:#fff;
    border-radius: 10px;
    position:relative;
    box-shadow: 10px 10px 20px rgba(27, 79, 120, 0.05);
}

#popular-books-section .swiper {
    width: calc(100% - 100px);
    margin: 0 auto;
    padding-bottom: 30px;
}

#popular-books-section article {
    padding: 20px;
    max-width: 250px;
}

.bd-example { 
    background:#fff;
}

#books-section section {
    padding:70px 0;
    position:relative;
}

#books-section h2 {
    font-family: 'BMHANNAPro', sans-serif;
    font-size: 1.8em;
    margin-bottom: 10px;
}

#books-section h2 + p {
    margin-bottom:30px;
    color:#aaaaaa;
}

#books-section figure {
    max-height: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid #d7d7d7;
}

#books-section figure img {
    width: 100%;
    max-height: 260px;
    object-fit: cover;
}

.introduce-section {
    padding-bottom:50px;
    color:#aaaaaa;
}

.books-list {
    display:flex;
    flex-wrap: wrap;
    width: calc(100% - 150px);
    margin:0 auto;
}
.books-list article {
    width:20%;
    padding: 25px;
    padding-top:0;
}
.book-authers {
    color:#aaaaaa;
    margin-top:5px;
    font-size:0.9em;
}

@media screen and (max-width:1200px) {
    #popular-books-section .swiper,
    .books-list {
        width: calc(100% - 70px);
    }
    .books-list article {
        padding:20px;
    }
}
@media screen and (max-width:990px) {
    #popular-books-section .swiper,
    .books-list {
        width: calc(100% - 50px);
    }
    .books-list article {
        width:25%;
        padding: 15px;
    }
}
@media screen and (max-width:768px) {
    #popular-books-section .swiper,
    .books-list {
        width: 100%;
    }
    .books-list article {
        width:33.33%;
    }
}

.swiper-button-next {right: 0;}
.swiper-button-prev {left: 0;}
.swiper-button-next, 
.swiper-button-prev {
    width:60px;
    height:60px;
    color:#138496;
    background:rgba(255,255,255,0.8);
    top:40%;
}
.swiper-button-next:after, 
.swiper-button-prev:after {
    font-size:25px;
}

footer {
    padding:50px 0;
    background:#e4e4e4;
}

footer img {
    opacity:0.2;
    height:20px;
}
