@font-face {
    font-family: 'BMHANNAPro';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --swiper-theme-color: #138496;
}

.container{
    text-align: center;
}

#books-section {
    width: calc(100% - 40px);
    margin:0 auto;
    padding:50px 0;
}

#books-section section {
    padding:50px 0;
}

#books-section h2 {
    font-family: 'BMHANNAPro', sans-serif;
    font-size: 23px;
    margin-bottom: 30px;
}

#books-section figure img {
    width: 100%;
}

.swiper-button-next, 
.swiper-button-prev {
    width:70px;
    height:70px;
    background-color:#17a2b8;
    color:#fff;
    border-radius: 50%;
}
.swiper-button-next:after, 
.swiper-button-prev:after {
    font-size:25px;
}

footer {
    padding:50px 0;
    background:#dadada;
}

footer img {
    opacity:0.5;
    height:20px;
}
